jersey-json/src/test/resources/com/sun/jersey/json/impl/unbounded/unboundedAnyWildcard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"> 
  <xs:element name="fruits">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fruit" type="Fruit" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  <xs:complexType name="Fruit">
        <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

